@use "./variables" as var;

.Top {
	display: grid;
	grid-template-columns: 60% 40%;

	@media screen and (max-width: var.$breakpoint-s) {
		grid-template-columns: auto;
		grid-template-rows: 45% 55%;
		height: 100%;
	}

	& .img-container {
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	& .content-container {
		position: relative;
		padding: 0 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;

		@media screen and (max-width: var.$breakpoint-m) {
			padding: 30px 20px;
			gap: 10px;
		}

		& .content-slide {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;

			@media screen and (max-width: var.$breakpoint-m) {
				gap: 10px;
			}

			& .title {
				@media screen and (max-width: var.$breakpoint-s) {
					font-size: 26px;
				}
			}
			
			& .content {
				color: var.$color-dark-gray;
				font-size: 14px;
				line-height: 1.5em;

				@media screen and (max-width: var.$breakpoint-s) {
					line-height: 1.3em;
				}
			}
		}

		& .shop-now {
			display: flex;
			gap: 10px;
			align-items: center;
			cursor: pointer;

			&:hover,
			&:active {
				color: var.$color-dark-gray;
			}
			&:hover svg path,
			&:active svg path {
				fill: var.$color-dark-gray;
			}

			&-text {
				text-transform: uppercase;
				letter-spacing: 10px;
				display: inline-block;
				font-size: 14px;
			}
		}

		& .controllers-container {
			$BoxH: 50px;
			$BowW: $BoxH * 2;

			@media screen and (max-width: var.$breakpoint-m) {				
				$BoxH: 40px;
				$BowW: $BoxH * 2;
			}

			position: absolute;
			left: 0;
			bottom: 0;
			height: $BoxH;
			width: $BowW;
			display: grid;
			grid-template-columns: repeat(2, 50%);

			@media screen and (max-width: var.$breakpoint-s) {
				left: calc(100% - $BowW);
				top: -$BoxH;
			}

			& .controller {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var.$color-black;
				cursor: pointer;
				-webkit-user-select: none; /* Safari */        
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* IE10+/Edge */
				user-select: none; /* Standard */

				&:hover,
				&:active {
					background-color: var.$color-very-dark-gray;
				}
			}
		}
	}
}