@use "../src/styles/variables" as var;

.App {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 65% 35%;

	@media screen and (max-width: var.$breakpoint-s) {
		grid-template-rows: auto auto;
		height: 100%;
	}

	& .attribution {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: 0px;
		font-size: 10px;
		text-align: center;
		z-index: 1;
		color: var.$color-very-dark-gray;

		& span {
			white-space: nowrap;
			
			& a {
				color: var.$color-dark-gray;
				text-decoration: none;
	
				&:hover {
					color: var.$color-very-dark-gray;
				}
			}
		}

	}
}